<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129790523460-t2vb3kiki49osb3rg8e6u8vao52psqs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129790523460-t2vb3kiki49osb3rg8e6u8vao52psqs5</string>
	<key>API_KEY</key>
	<string>AIzaSyAGQLRZmQrPqhl8zbA7Lf0yC3RaSf1UIO8</string>
	<key>GCM_SENDER_ID</key>
	<string>129790523460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poddyCaster</string>
	<key>PROJECT_ID</key>
	<string>poddy-caster-0001</string>
	<key>STORAGE_BUCKET</key>
	<string>poddy-caster-0001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129790523460:ios:7a5930e68deddf8df7a411</string>
</dict>
</plist>